<%- include('header'); -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="admin__header">
                    <ul class="nav admin__nav">
                        <li><button class="btn addCountry">Add Countries</button></li>
                        <li><button class="btn addCity">Add Cities</button></li>
                        <li><button class="btn addDeal">Add Deals</button></li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
    

    <div class="reservation-form">
        <div class="container country hide">
            <div class="row">
                    <div class="col-lg-12">
                        <h1>Add Country</h1>
                    </div>
                    <form id="reservation-form"  method="POST"  action="/addContent"
                        style="
                            display: flex;
                            flex-wrap: wrap;
                            gap: 3rem;">
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Country Name:</label>
                                <input type="text" id="countryName" name="countryName" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Country Description:</label>
                                <input type="text" id="countryName" name="desc" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Country Short Description:</label>
                                <input type="text" id="countryName" name="desc2" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Country Population:</label>
                                <input type="text" id="countryName" name="population" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Country Territory:</label>
                                <input type="text" id="countryName" name="territory" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Average Housing Price:</label>
                                <input type="text" id="countryName" name="avgPrice" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Country Image:</label>
                                <input type="text" id="countryName" name="image" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Continent:</label>
                                <input type="text" id="countryName" name="continent" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-sm-5">
                            <fieldset>
                                <label for="countryName">Background Image</label>
                                <input type="text" id="countryName" name="cssImage" required><br><br>
                            </fieldset>
                        </div>
                        <!-- <div class="col-md-12">
                            <fieldset>
                                <label for="countryName">Country Name:</label>
                                <input type="text" id="countryName" name="countryName" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <label for="countryName">Country Name:</label>
                                <input type="text" id="countryName" name="countryName" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <label for="countryName">Country Name:</label>
                                <input type="text" id="countryName" name="countryName" required><br><br>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <label for="countryName">Country Name:</label>
                                <input type="text" id="countryName" name="countryName" required><br><br>
                            </fieldset>
                        </div> -->
                    <!-- Add more fields as needed -->
                        <button class="col-sm-5" type="submit">Add Content</button>
                    </form>
            </div>
        </div>
        <div class="container city hide">
                <div class="col-lg-12">
                    <h1>Add City</h1>
                </div>
                <form action="/addCity" method="post" id="reservation-form"
                    style="
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;">
                    <div class="col-sm-5">
                        <fieldset>
                            <label for="countryName">Add to which Country</label>
                            <input type="text" id="countryName" name="country" required><br><br>
                        </fieldset>
                    </div>
                    <div class="col-sm-5">
                        <fieldset>
                            <label for="countryName">Name of city</label>
                            <input type="text" id="countryName" name="cityName" required><br><br>
                        </fieldset>
                    </div>
                    <div class="col-sm-5">
                        <fieldset>
                            <label for="countryName">Image Link</label>
                            <input type="text" id="countryName" name="image" required><br><br>
                        </fieldset>
                    </div>
                    <div class="col-sm-5">
                        <fieldset>
                            <label for="countryName">Number of check-ins</label>
                            <input type="text" id="countryName" name="checkIns" required><br><br>
                        </fieldset>
                    </div>
                    <div class="col-sm-5">
                        <fieldset>
                            <label for="countryName">Price of trip</label>
                            <input type="text" id="countryName" name="price" required><br><br>
                        </fieldset>
                    </div>
                    <div class="col-sm-5">
                        <fieldset>
                            <label for="countryName">Link to second image</label>
                            <input type="text" id="countryName" name="secondImage" required><br><br>
                        </fieldset>
                    </div>
                        <button class="col-sm-5" type="submit">Add Content</button>
                </form>
        </div>
        <div class="container deal hide">
            <div class="col-lg-12">
                <h1>Add Deal</h1>
            </div>
            <form action="/addDeal" method="post" id="reservation-form"
                style="
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;">
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">City Name</label>
                        <input type="text" id="countryName" name="cityName" required><br><br>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">Deal Description</label>
                        <input type="text" id="countryName" name="desc" required><br><br>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">Image Link</label>
                        <input type="text" id="countryName" name="image" required><br><br>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">Duration</label>
                        <input type="text" id="countryName" name="duration" required><br><br>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">Price</label>
                        <input type="text" id="countryName" name="price" required><br><br>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">Type Of Deal</label>
                        <input type="text" id="countryName" name="type" required><br><br>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label for="countryName">Location</label>
                        <input type="text" id="countryName" name="location" required><br><br>
                    </fieldset>
                </div>
                    <button class="col-sm-5" type="submit">Add Content</button>
            </form>
        </div>
    </div>
    <div class="content">
        <h1>Manage Content</h1>
        <h2>Countries:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"scope="col">Population</th>
                    <th scope="col"scope="col">Continent</th>
                    <th scope="col"scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% data.countries.forEach(function(country) { %>
                    <tr>
                        <td><%= country.name %></td>
                        <td><%= country.population %> Mil</td>
                        <td><%= country.continent %></td>
                        <td>
                            <form action="/deleteCountry" method="post">
                                <input type="hidden" name="countryId" value="<%= country.id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
            
        </table>

        <h2>Deals:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">City Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% data.deals.forEach(function(deal) { %>
                    <tr>
                        <td> <%= deal.cityName %></td>
                        <td><%= deal.type %></td>
                        <td><%= deal.duration %></td>
                        <td>
                            <form action="/deleteDeal" method="post">
                                <input type="hidden" name="dealId" value="<%= deal.id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    

    <script>
        var  country = document.querySelector('.country');
        var  city = document.querySelector('.city');
        var addCountry = document.querySelector('.addCountry');
        var addCity = document.querySelector('.addCity');
        var deal = document.querySelector('.deal')
        var addDeal = document.querySelector('.addDeal')

        addCountry.addEventListener('click', function(e) {
            country.classList.toggle('hide');
            city.classList.add('hide');
            deal.classList.add('hide');
        })

        addCity.addEventListener('click', function(e) {
            city.classList.toggle('hide');
            country.classList.add('hide');
            deal.classList.add('hide');
        })

        addDeal.addEventListener('click', function(e) {
            console.log("Deals button clicked")
            deal.classList.toggle('hide');
            country.classList.add('hide');
            city.classList.add('hide');
        })
    </script>

<%- include('footer'); -%>